MONGO_URI=mongodb+srv://your-mongodb-uri
JWT_SECRET=your-jwt-secret-key
CLOUD_NAME=your-cloudinary-cloud-name
API_KEY=your-cloudinary-api-key
API_SECRET=your-cloudinary-api-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
